<?xml version="1.0" encoding="UTF-8"?>

<suite name="Frontgate Full Scenario Suite">

    <test name="Login and Add to Cart Test">
        <classes>
            <!-- 1. يتم تشغيل اختبار تسجيل الدخول أولاً -->
            <class name="com.itg.frontgate.tests.LoginDataDrivenTest"/>
            
            <!-- 2. بعد نجاح الدخول، يتم تشغيل اختبار إضافة المنتج على نفس المتصفح -->
            <class name="com.itg.frontgate.tests.AddToCartTest"/>
        </classes>
    </test>

</suite>