<?xml version="1.0" encoding="UTF-8"?>
<suite name="Frontgate Full Scenario Suite">

    <test name="Full E2E Test">
        <classes>
            <!-- يمكنك تفعيل هذا الاختبار إذا أردت التحقق من حالات تسجيل الدخول أولاً -->
            <!-- <class name="com.itg.frontgate.tests.LoginDataDrivenTest"/> -->
            
            <!-- هذا هو الاختبار الرئيسي والوحيد الذي ينفذ السيناريو كاملاً -->
            <class name="com.itg.frontgate.tests.AddToCartTest"/>
        </classes>
    </test>

</suite>